@import url("null.css");
@import url(https://fonts.googleapis.com/css?family=Dongle:regular,700&display=swap);
body {
   font-family: "Klee One";
   font-weight: 400;
   font-size: 25px;
   line-height: 120%;
}
h1 {
   font-weight: 700;
   font-size: 40px;
   line-height: 170%;
   text-align: center;
   text-transform: capitalize;
}
h2 {
   font-family: "Dongle", sans-serif;   
   font-size: 30px;
   line-height: 150%;
   text-transform: uppercase;
}
img {
   width: 250px;
   height: 180px;
   margin: 10px 0 10px 300px;
}
.wrapper {
   max-width: 1800px;
   margin: 0 auto;
   overflow: hidden;
}
.header {
   font-size: 25px;
   line-height: 140%;
   text-transform: uppercase;
}
.page {
   text-align: justify;
}
.intro,
.afterword {
  display: inline-block;
   max-width: 50%;
}
.tattoo-idea {
   line-height: 180%;
   text-decoration: underline;
   text-transform: lowercase;
   text-align: center;
   font-size: 30px;
   color: brown;
}
.info {
   text-indent: 15px;
   margin-bottom: 10px;
}
.examples {
   width: 1600px;
   height: 500px;
   margin: 0 auto;
   overflow: auto;
}
